<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div class = "wrapper">
      <div class = "header">
        <div><a href = "http://localhost:3000/">Robot LinkedIn</a></div>
    <div>
      <form action = "/avaliable" method="post">
        <button type = "submit" name = "availableBtn">Looking for Work</button>
      </form>
      <form action = "/employeed" method="post">
        <button>Currently Employeed</button>
      </form>
      </div>
    </div>
      {{#robots}}
        <div class = 'boxes'>
          <p><img src = {{avatar}}></p>
          <h3><a href = "{{id}}">{{name}}</a></h3>
          {{#job}}
          <h5>{{job}}</h4>
            <h4>{{company}}</h4>
            {{/job}}
            {{^job}}
            <p id = 'hire'>Avaliable for hire!</p>
            {{/job}}
          </div>
    {{/robots}}
    </div>
  </body>
</html>
