.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.boxes {
  border: solid 1px grey;
  border-radius: 3%;
  width: 235px;
  height: 250px;
  text-align: center;
  margin: 10px 5px;
}

a {
  text-decoration: none;
  color: #3281CB;
}
